<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
.responsive {
  width: 100%;
  height: auto;
}
</style>
    </head>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Virat Kohli T20 Score Prediction </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> Enter No. of balls :  <input type="text", name='a', placeholder="enter 1"> <br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\virat.jpg' alt="player" class="responsive" />

    </center>

    </body>
</html>
